{% extends 'rick/base.html' %}

{% load staticfiles %}

{% block title %}敖瑞的博客{{ article.title }}{% endblock %}

{% block body_block %}

{% if object %}

<style>
.entry-content br {
    line-height: 2.5;
}
</style>

<div  class="text-left">
<ul>
<div class="hero-unit">
    <h1 class="skills" >
        {{ article.title }}
    </h1>
        <p class="entry-content">
            {{ article.body|safe }}
        </p>
        
    <p class="auth-span">
            <small><span class="muted"><i class="fa fa-clock-o"></i> {{ article.create_date|date:'Y-m-d' }}</span> 
        <span class="muted"><i class="fa fa-eye"></i> {{ article.views }}浏览</span>
        <span class="muted">
            <i class="fa fa-comments-o"></i> 
                <a target="_blank" href="/article/{{ article.slug }}#comments">评论</a>
        </span>
        <span class="muted">
            <a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
            <i class="fa fa-heart-o"></i>
            <span class="count">{{ article.likes }}</span>喜欢</a>
        </span></small>
    </p>
</div>
</ul>
<hr>
</div>

{% else %}
article_detial.html未获得目标文章数据
{% endif %}
{% endblock %}