{% extends 'rick/base.html' %}
<!-- 这是首页文章列表 -->
{% load staticfiles %}

{% block title %}敖瑞的博客{{ category_name }}{% endblock %}

{% block articlefoot_block %}

{% for article in object_list %}

    <p class="auth-span">
            <small><span class="muted"><i class="glyphicon glyphicon-time"></i> {{ article.create_date|date:'Y-m-d' }}</span> 
        <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> {{ article.views }}浏览</span>
        <span >
                <a class="glyphicon glyphicon-comment" target="_blank" href="/article/{{ article.slug }}#comments">评论</a>
        </span>
        <span >
            <a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
            <span class="glyphicon glyphicon-thumbs-up"></span>{{ article.likes }}喜欢</a>
        </span></small>
    </p>

{% empty %}
    <li>articlefoot.html:No articles yet.gogogo</li>
{% endfor %}
{% endblock %}