{% extends 'rick/base.html' %}
<!-- 这是文章终极页面 -->
{% load staticfiles %}

{% block title %}敖瑞的博客{{ article.title }}{% endblock %}

{% block body_block %}

{% if object %}

<div  class="text-left">
<ul>
<div>

    <h1>
        {{ article.title }}
    </h1>
        <p>
            {{ article.body|safe }}
        </p>

        
<p class="auth-span">
        <small><span class="muted"><i class="glyphicon glyphicon-time"></i> {{ article.create_date|date:'Y-m-d' }}</span> 
    <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> {{ article.views }}浏览</span>
    <span >
            <a class="glyphicon glyphicon-comment" target="_blank" href="/article/{{ article.slug }}#comments">评论</a>
    </span>
    <span >
        <a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
        <span class="glyphicon glyphicon-thumbs-up"></span>{{ article.likes }}喜欢</a>
    </span>
    {% if user.is_authenticated %}
    <a class="glyphicon glyphicon-edit" href="http://aorui.me/admin/rick/article/{{ article.id }}/change/">编辑</a>
    {% else %}
    {% endif %}
</small>
</p>
</div>
</ul>
<hr>
</div>

{% else %}
article_detial.html未获得目标文章数据
{% endif %}
{% endblock %}