{% extends 'rick/base.html' %}

{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}

{% for article in articles %}
<div  class="text-left">
<ul>
<div class="hero-unit">
    <h1 class="skills" >
        <a href="{{ article.id }}/">{{ article.title }}</a>
        
            <small>{{ article.category.name }}</small>
        
    </h1>
        <p>{{ article.body | truncatechars:100 }}……
        <a href="{{ article.id }}/">Read more >></a></p>
       
</div>
    <p class="auth-span">
            <small><span class="muted"><i class="fa fa-clock-o"></i> {{ article.create_date|date:'Y-m-d' }}</span> 
        <span class="muted"><i class="fa fa-eye"></i> {{ article.views }}浏览</span>
        <span class="muted">
            <i class="fa fa-comments-o"></i> 
                <a target="_blank" href="/article/{{ article.slug }}#comments">评论</a>
        </span>
        <span class="muted">
            <a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
            <i class="fa fa-heart-o"></i>
            <span class="count">{{ article.likes }}</span>喜欢</a>
        </span></small>
    </p>
</ul>
</div>
{% empty %}
没有文章{{ context_dict }}
    <li>category_list.html:No articles yet.</li>
{% endfor %}
</ul>
{% endblock %}