{% extends 'rick/base.html' %}
<!-- 这是首页文章列表 -->
{% load staticfiles %}

{% block title %}敖瑞的博客{{ category_name }}{% endblock %}

{% block body_block %}

{% for article in object_list %}
<div  class="text-left">
<ul>
<div class="hero-unit">
    <h1 class="skills" >
        <!-- 改变链接样式，base.html -->
        <a href="{{ article.category.slug }}/{{ article.id }}/" class="black" style="text-decoration: none">{{ article.title }}
        </a>
        <a href="{{ article.category.slug }}/" style="text-decoration: none">
            <small>{{ article.category.name }}</small>
        </a>
    </h1>
        <br>

        <p>{{ article.body | truncatechars:100 }}……
        <a href="{{ article.category.slug }}/{{ article.id }}/">Read more >></a></p>

        <!-- {% block articlefoot_block %} article_foot.html 未取得目标数据{% endblock %} -->

    <p class="auth-span">
            <small><span class="muted"><i class="glyphicon glyphicon-time"></i> {{ article.create_date|date:'Y-m-d' }}</span> 
        <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> {{ article.views }}浏览</span>
        <span >
                <a class="glyphicon glyphicon-comment" target="_blank" href="/article/{{ article.slug }}#comments">评论</a>
        </span>
        <span >
            <a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
            <span class="glyphicon glyphicon-thumbs-up"></span>{{ article.likes }}喜欢</a>
        </span>
        {% if user.is_authenticated %}
        <a class="glyphicon glyphicon-edit" href="http://aorui.me/admin/rick/article/{{ article.id }}/change/">编辑</a>
        {% else %}
        {% endif %}
    </small>
    </p>
</div>

</ul>

<hr>
</div>
{% empty %}
    <li>index.html:No articles yet.gogogo</li>
{% endfor %}
</ul>
{% endblock %}